*{
	box-sizing: border-box;
}


@media (max-width: 670px){
	.blog{
		padding:0 10px;
	}
	.books{
		height : 80%;
		width : 80%;
	}
}
@media (min-width: 670px){
	.blog{
		margin: o 50px;
		padding: 0 100px;

	}


	.books {
		height : 30%;
		width : 30%;
	}

}

body {
	margin : 0;
	font-family: "Hiragino Kaku Gothic ProN", sans-serif;
}

header {
	height : 100px;
	width : 100%;
	top:0;
	background-color: blue
}

.header-title{
	padding : 20px;
	font-size: 30px;
	text-align: center;
	color:white ;
}


