
body {
	margin : 0;
	font-family: "Hiragino Kaku Gothic ProN", sans-serif;
}

header {
	height : 100px;
	width : 100%;
	top:0;
	background-color: blue
}

.header-title{
	padding : 20px;
	font-size: 30px;
	text-align: center;
	color:white ;
}


.blog{
	margin: o 50px;
	padding: 0 100px;

}


.miranda {
	height : 30%;
	width : 30%;
}

