*{
	box-sizing: border-box;
}


@media (max-width: 670px){
	.blog{
		margin:0 10px;
	}
	.books{
		height : 80%;
		width : 80%;
	}
}
@media (min-width: 670px){
	.blog{
		margin: 0 150px;
	}
	.books {
		height : 60%;
		width : 60%;
	}
}

body {
	margin : 0;
	font-family: "Hiragino Kaku Gothic ProN", sans-serif;
}

header {
	height : 100px;
	width : 100%;
	top:0;
	background-color: blue
}

.header-title{
	padding : 20px;
	font-size: 30px;
	text-align: center;
	color:white ;
}

.text{
	padding-bottom: 100px;
}


